html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #f9f9f9;
}

body .rose-wrapper {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #000;
}

body .rose-wrapper .rose-circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 10;
}

body .rose-wrapper .rose-circle .rose-petal {
  position: absolute;
  left: calc(50% - 1px);
  width: 2px;
  -webkit-transform-origin: bottom center;
          transform-origin: bottom center;
  z-index: 2;
  background: none;
  height: 40px;
  top: 15px;
  opacity: 1;
  color: #fff;
}

body .rose-wrapper .rose-circle .rose-petal:after {
  content: "";
  position: absolute;
  height: 20px;
  width: 4px;
  background: #fff;
  left: 0;
  top: 0;
  -webkit-clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
          clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
  -webkit-animation: fade-petal ease infinite 2s;
          animation: fade-petal ease infinite 2s;
}

body .rose-wrapper .rose-circle .rose-petal:nth-of-type(1) {
  -webkit-transform: rotateZ(calc(30deg * 1));
          transform: rotateZ(calc(30deg * 1));
}

body .rose-wrapper .rose-circle .rose-petal:nth-of-type(1)::after {
  background-color: #f0f0f0 !important;
}

body .rose-wrapper .rose-circle .rose-petal:nth-of-type(2) {
  -webkit-transform: rotateZ(calc(30deg * 2));
          transform: rotateZ(calc(30deg * 2));
}

body .rose-wrapper .rose-circle .rose-petal:nth-of-type(2)::after {
  background-color: #e0e0e0 !important;
}

body .rose-wrapper .rose-circle .rose-petal:nth-of-type(3) {
  -webkit-transform: rotateZ(calc(30deg * 3));
          transform: rotateZ(calc(30deg * 3));
}

body .rose-wrapper .rose-circle .rose-petal:nth-of-type(3)::after {
  background-color: #d1d1d1 !important;
}

body .rose-wrapper .rose-circle .rose-petal:nth-of-type(4) {
  -webkit-transform: rotateZ(calc(30deg * 4));
          transform: rotateZ(calc(30deg * 4));
}

body .rose-wrapper .rose-circle .rose-petal:nth-of-type(4)::after {
  background-color: #c2c2c2 !important;
}

body .rose-wrapper .rose-circle .rose-petal:nth-of-type(5) {
  -webkit-transform: rotateZ(calc(30deg * 5));
          transform: rotateZ(calc(30deg * 5));
}

body .rose-wrapper .rose-circle .rose-petal:nth-of-type(5)::after {
  background-color: #b3b3b3 !important;
}

body .rose-wrapper .rose-circle .rose-petal:nth-of-type(6) {
  -webkit-transform: rotateZ(calc(30deg * 6));
          transform: rotateZ(calc(30deg * 6));
}

body .rose-wrapper .rose-circle .rose-petal:nth-of-type(6)::after {
  background-color: #a3a3a3 !important;
}

body .rose-wrapper .rose-circle .rose-petal:nth-of-type(7) {
  -webkit-transform: rotateZ(calc(30deg * 7));
          transform: rotateZ(calc(30deg * 7));
}

body .rose-wrapper .rose-circle .rose-petal:nth-of-type(7)::after {
  background-color: #949494 !important;
}

body .rose-wrapper .rose-circle .rose-petal:nth-of-type(8) {
  -webkit-transform: rotateZ(calc(30deg * 8));
          transform: rotateZ(calc(30deg * 8));
}

body .rose-wrapper .rose-circle .rose-petal:nth-of-type(8)::after {
  background-color: #858585 !important;
}

body .rose-wrapper .rose-circle .rose-petal:nth-of-type(9) {
  -webkit-transform: rotateZ(calc(30deg * 9));
          transform: rotateZ(calc(30deg * 9));
}

body .rose-wrapper .rose-circle .rose-petal:nth-of-type(9)::after {
  background-color: #757575 !important;
}

body .rose-wrapper .rose-circle .rose-petal:nth-of-type(10) {
  -webkit-transform: rotateZ(calc(30deg * 10));
          transform: rotateZ(calc(30deg * 10));
}

body .rose-wrapper .rose-circle .rose-petal:nth-of-type(10)::after {
  background-color: #666666 !important;
}

body .rose-wrapper .rose-circle .rose-petal:nth-of-type(11) {
  -webkit-transform: rotateZ(calc(30deg * 11));
          transform: rotateZ(calc(30deg * 11));
}

body .rose-wrapper .rose-circle .rose-petal:nth-of-type(11)::after {
  background-color: #575757 !important;
}

body .rose-wrapper .rose-circle .rose-petal:nth-of-type(12) {
  -webkit-transform: rotateZ(calc(30deg * 12));
          transform: rotateZ(calc(30deg * 12));
}

body .rose-wrapper .rose-circle .rose-petal:nth-of-type(12)::after {
  background-color: #474747 !important;
}

body .rose-wrapper .rose-circle .stem {
  position: absolute;
  top: 80%;
  left: 0px;
  width: 80px;
  height: 114px;
  border: solid 3px #fff;
  border-color: #fff transparent transparent transparent;
  border-radius: 50%/15px 20px 0 0;
  -webkit-transform: rotate(70deg);
          transform: rotate(70deg);
}

body .rose-wrapper .rose-circle .leaf {
  position: absolute;
  top: 90%;
  left: 100px;
  width: 20px;
  height: 20px;
  border: solid 3px #fff;
  border-top-left-radius: 80%;
  border-bottom-right-radius: 80%;
}

@-webkit-keyframes fade-petal {
  from {
    background-color: #fff;
  }
  to {
    background-color: #f0f0f0 !important;
  }
}

@keyframes fade-petal {
  from {
    background-color: #fff;
  }
  to {
    background-color: #f0f0f0 !important;
  }
}
/*# sourceMappingURL=main.css.map */