html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
}

html .rose-wrapper,
body .rose-wrapper {
  height: 100%;
  background: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0px;
  margin: 0px;
}

html .rose-wrapper .rose-petal,
body .rose-wrapper .rose-petal {
  position: relative;
  height: 20px;
  width: 1px;
  margin: 3px;
  background: white;
  border: 2px solid;
}

.rose-petal:nth-child(1) {
  background-color: #787878 !important;
}

.rose-petal:nth-child(2) {
  background-color: #717171 !important;
}

.rose-petal:nth-child(3) {
  background-color: dimgray !important;
}

.rose-petal:nth-child(4) {
  background-color: #616161 !important;
}

.rose-petal:nth-child(5) {
  background-color: #5a5a5a !important;
}

.rose-petal:nth-child(6) {
  background-color: #525252 !important;
}

.rose-petal:nth-child(7) {
  background-color: #4a4a4a !important;
}

.rose-petal:nth-child(8) {
  background-color: #434343 !important;
}

.rose-petal:nth-child(9) {
  background-color: #3b3b3b !important;
}

.rose-petal:nth-child(10) {
  background-color: #343434 !important;
}

.rose-petal:nth-child(11) {
  background-color: #2c2c2c !important;
}

.rose-petal:nth-child(12) {
  background-color: #242424 !important;
}

.rose-petal:nth-child(1) {
  -webkit-transform: rotate(30deg) skewY(-60deg);
          transform: rotate(30deg) skewY(-60deg);
}

.rose-petal:nth-child(2) {
  -webkit-transform: rotate(60deg) skewY(-60deg);
          transform: rotate(60deg) skewY(-60deg);
}

.rose-petal:nth-child(3) {
  -webkit-transform: rotate(90deg) skewY(-60deg);
          transform: rotate(90deg) skewY(-60deg);
}

.rose-petal:nth-child(4) {
  -webkit-transform: rotate(120deg) skewY(-60deg);
          transform: rotate(120deg) skewY(-60deg);
}

.rose-petal:nth-child(5) {
  -webkit-transform: rotate(150deg) skewY(-60deg);
          transform: rotate(150deg) skewY(-60deg);
}

.rose-petal:nth-child(6) {
  -webkit-transform: rotate(180deg) skewY(-60deg);
          transform: rotate(180deg) skewY(-60deg);
}

.rose-petal:nth-child(7) {
  -webkit-transform: rotate(210deg) skewY(-60deg);
          transform: rotate(210deg) skewY(-60deg);
}

.rose-petal:nth-child(8) {
  -webkit-transform: rotate(240deg) skewY(-60deg);
          transform: rotate(240deg) skewY(-60deg);
}

.rose-petal:nth-child(9) {
  -webkit-transform: rotate(270deg) skewY(-60deg);
          transform: rotate(270deg) skewY(-60deg);
}

.rose-petal:nth-child(10) {
  -webkit-transform: rotate(300deg) skewY(-60deg);
          transform: rotate(300deg) skewY(-60deg);
}

.rose-petal:nth-child(11) {
  -webkit-transform: rotate(330deg) skewY(-60deg);
          transform: rotate(330deg) skewY(-60deg);
}

.rose-petal:nth-child(12) {
  -webkit-transform: rotate(360deg) skewY(-60deg);
          transform: rotate(360deg) skewY(-60deg);
}

.rose-petal:nth-child(3),
.rose-petal:nth-child(9) {
  top: 25px;
}

.rose-petal:nth-child(4),
.rose-petal:nth-child(8) {
  top: 13px;
}

.rose-petal:nth-child(2),
.rose-petal:nth-child(10) {
  top: 45px;
}

.rose-petal:nth-child(2) {
  left: 10px;
}

.rose-petal:nth-child(10) {
  left: -10px;
}

.rose-petal:nth-child(1),
.rose-petal:nth-child(11) {
  top: 60px;
}

.rose-petal:nth-child(1) {
  left: 30px;
}

.rose-petal:nth-child(11) {
  left: -30px;
}

.rose-petal:nth-child(12) {
  top: 61px;
  left: -65px;
}
/*# sourceMappingURL=main.css.map */